#content {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.button {
  /* background-color: rgb(2, 60, 136); */
  border: none;
  color: white;
  padding: 13px 144px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#greeting-container {
  text-align: center;
  font-size: 66px;
  color: rgb(255, 174, 0);
  background-color: rgb(100, 42, 1);
}
#intro-container {
  text-align: center;
  font-size: 30px;
  color: rgb(199, 125, 28);
  background-color:#636B59;
  height: 10vh;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#pics {
  height:90vh;
  background-color: #90A5A9;
  width: 100%;
  margin: 0;
}

#bottom{
   /* height: 20%; */
  /* background-color:rgb(65, 105, 225); */
  font-size: 20px;
  background-color: rgb(199, 125, 28);
}

header .logo, header .plus-menu {
  position: fixed;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

body {
  /* background-image: url(images/ocean.png); */
  margin: 0;
  font-family: "Lucida Console", Courier, monospace;
  background-repeat: none;
  background-size: cover;
  width: 100%;
}

h{
    text-align: center;
    font-size: 20px;
    font-family: "Lucida Console", Courier, monospace
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 13px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  
}

div.top {
  /* height:100px; */
  /* background-color: rgb(199, 125, 28); */
}

div.container {
  /* height: 400px; */
  /* background-color: rgba(85, 107, 47); */
  align-content: center;

}
div.middle{
   /* height: 20%; */
  /* background-color:#0099ff7c;  */
}
div.quote-container{
   color: white;
  /* background-color:#0099ff7c;  */
}

.container {
  overflow: hidden;
  width: 100%;
}

.sliding-background {
  width: 50%;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-700px, 0, 0);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(224, 50, 87); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(231, 180, 13); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(98, 0, 255, 0.527); 
}

#task-list {
  list-style-type: none;
}

.task {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
  color: white;
}

.task span {
  flex-grow: 1;
}

.sticky {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 20px;
  background-color: #C4D5A7
}


